/* DEBUG AREA-------------------------------------------------- */

body.debug header,
body.debug main,
body.debug main>section,
body.debug footer
{
    border: 1px solid grey;
    background-color: pink;
}

body.debug .wrapped-container{
    background-color: yellow;
    border: 1px solid blue;
}
body.debug .wrapped-container:nth-of-type(2n+2){
    background-color: lightyellow;
    border: 1px solid blue;
}
body.debug .wrapped-container>div:nth-of-type(2n+2){
    background-color: lightcoral;
    border: 1px solid blue;
}

body.debug [class*="col"]{
    border: 1px solid green;
}

/* FINE AREA DEBUG
__________________________________________________________________________________________ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
}

/* GENERAL TYPOGRAPHY STYLE----- */

/* FONTS */
@font-face {
    font-family: 'Now Thin';
    font-style: normal;
    font-weight: 300;
    src: local('Now Thin'), url('../fonts/now/Now-Thin.otf')format('opentype');
    }
@font-face {
    font-family: 'Now';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/now/Now-Regular.otf') format('opentype');
    }
@font-face {
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/now/Now-Medium.otf') format('opentype');
    }
@font-face {
    font-family: 'Now';
    font-style: bold;
    font-weight: 500;
    src: url('../fonts/now/Now-Bold.otf') format('opentype');
    }

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/segoe-ui/Segoe\ UI.woff') format('woff');
    }
    

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: bold;
    font-weight: 500;
    src: url('../fonts/segoe-ui/Segoe\ UI\ Bold.woff') format('woff');
}


/* ___________________________________________ */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Now";
    margin-bottom: 10px;
    color: #192836;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: #262626;
    font-weight: 500;
}


h3 {
    font-size: 20px;
    font-weight: 500;
}

p{
    margin-bottom: 10px;
}
    
.capitalize{
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
.text-underline{
    text-decoration: underline;
}
.text-red{
    color:#d74d52
}
.text-orange{
    color:orange
}
.text-green{
    color:green
}
a {
    text-decoration: none;
    color: inherit;
}


/* COMMON STRUCTURE--------------------------------------------- */
main section:not(:last-child){
    margin-top: 70px;
    margin-bottom: 70px;
}
main section>div:not(:only-child){
    margin-bottom:50px
}
.wrapped-container{
    max-width: 1140px;
    margin-left:auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.col33{
    width: 33.33%;
}
.col25{
    width: 25%;
}


/* COMMON STYLE-------------------------------------- */
body {
    font-family: 'Now';
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    background-color: white;
    
}

button {
    background: transparent;
    text-transform: capitalize;
    border: 0;
}

ul.menu_inline li{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

.box-shadow{
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
}
.section_title{
    padding-left: 50px;
    padding-right: 50px;
}
.section_title p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}


/* ____________________________________________________________ */

/* HEADER------------------ */
header {
    width: 100%;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
header .top-header{
    height: 70px;
    position: absolute;
    width: 99%;
    top: 0;
    z-index: 999;
    background: white;
}

header .top-header>div{
    position: relative;
    height: 100%;
    justify-content: space-between;
}

header .logo_header{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
header .menu_inline{
    align-items: center;
}


/* _____________________________________________________ */

/* MAIN----------------------- */


/* JUMBO SECTION-------------- */
.jumbo_section {
    height: 1000px;
    background-image: url('../media/img/jumbotron.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: relative;
}
.jumbo_section>div{
    width: 60%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.jumbo_section>div h2{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 57px;

}
.jumbo_section button{
    font-family:'Lato', sans-serif;
    font-size: 14px;
    line-height: 50px;
    padding: 0 40px;
    text-transform: capitalize;
    border: 1px solid #193826;
    color: #193826;
}

/* ABOUT SECTION------------------ */

.card-info_row .col33{
    padding: 10px;
}

.card-info{
    flex-direction: column;
    flex-basis: 100%;
    min-height: 350px;
    padding: 30px;
    text-align: center;
    line-height: 1.9;
}
.card-info img{
    height:70px;
    margin-bottom: 25px;
    margin-top: 10px;

}
.card-info h3{
    min-height: 50px;
    text-transform: capitalize;
}
.card-info p{
    flex-grow: 1;
}
.counter_row {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.counter_info{
    width: 100%;
    align-items: center;
    padding: 0 30px;
}
.counter_info h2{
    position: relative;
    margin-right: 10px;
    font-size: 40px;
}
.counter_info p{
    font-size: 20px;
    text-transform: capitalize;
}
.counter_info img{
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 15px;

}

/* ________________________________________________________________________ */

/* COURSE SECTION-------------------------- */
.courses_row .col33{
    padding: 20px;
}
.card_course{
    line-height: 1.9;
    flex-direction: column;
}
.card_course:hover .card_course-cover img{
    transform: scale(1.5);
}
.card_course-cover{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.card_course-cover img{
    position: absolute;
    max-width: 100%;
    height: auto;
    transition: transform 1s;
}
.card_course-details *{
    margin-bottom: 20px;
}
.card_course-details{
    padding: 10px 20px;
}
.card_course-details span{
    position: relative;
}
.card_course-details .card-course_price::after{
    position: absolute;
    content: '';
    background-color: #d74d52;
    opacity: 0.2;
    height: 9px;
    width: 110%;
    left: 0;
    bottom:5px;
    z-index: -1;
}
.card_course-details .description{
    min-height: 130px;
}


.card_course-details .caption{
    font-size: 0.8em;
    color: #d74d52;
}





/* _________________________________________________________________ */

/* QUOTE SECTION-------------------- */
.quote_section{
    background-image: url('../media/img/quote.png');
    background-position: center;
    background-repeat:no-repeat;
    font-family: 'Segoe UI', sans-serif;
}
.quote_section p{
    font-size: 30px;
    margin: 30px 20px;
}


/* _______________________________________________________________________ */
/* EVENT SECTION */
#events_section{
    position: relative;
}
.events-video{
    position: relative;
    width: 650px;
    height: 530px;
    overflow: hidden;
    left: 50px
}
.events-details{
    position: relative;
    background: white;
    width: 650px;
    height: 530px;
    top: 50px;
    right: 50px;
    padding: 0 50px 50px;
    flex-direction: column;
    justify-content: space-between;
}

.events-details i{
    font-size: 0.8em;
    color: inherit;
    margin-right: 10px;
}

.events-details .upcoming_events_label{
    justify-content: center;
}
.events-details .upcoming_events_label h2{
    background: #d74d52;
    padding:20px 40px;
    color:white;
}
.events-details .caption{
    margin-top: 20px;
    font-weight: bold;
}
.events-details .caption i{
    margin-left: 10px;
}


.events-video img{
    width: 100%;
    height: auto;
}

.events-video span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 50%;
}
.events-video i{
    margin: 25px;
    font-size: 30px;
    color:#d74d52;
}
/* ______________________________________________________________________ */

/* BLOG SECTION */

.blog_row .col33{
    padding: 10px;
}
.card_blog{
    line-height: 1.9;
    flex-direction: column;
}
.card_blog:hover .card_blog-cover img{
    transform: scale(1.5);
}
.card_blog-cover{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.card_blog-cover img{
    position: absolute;
    max-width: 100%;
    height: auto;
    transition: transform 1s;   
}

.card_blog-details>*{
    margin-bottom: 20px;
}
.card_blog-details{
    padding: 10px 20px;
}
.card_blog-details ul.menu_inline li{
    margin-left: 0;
    font-size: 0.8em;
    font-weight: lighter;
    text-transform: capitalize;
}
.card_blog-details i{
    margin-right: 8px;
}
.card_blog-details hr{
    width: 50px;
    border: 0;
    border-top:3px solid #d74d52;
    margin-bottom: 40px !important;
}

.card_blog-details .caption{
    font-size: 0.8em;
}

/* _____________________________________________________ */

/* PHOTO SECTION---------------- */
.photos_row>div{
    width: calc(100% / 4);
    height:270px;
    overflow: hidden;
    position: relative;
}
.photos_row img{
    position: absolute;
    min-width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




/* ___________________________________________________________ */

/* FOOTER---------------------------- */

footer {
    background: #192735;
    color:#a3b5ca;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
}
footer li{
    list-style: none;
}

/* TOP-FOOTER------------ */

footer .top-footer{
    padding: 50px 0;
}
footer .subscribe_box:before{
    position: absolute;
    content: '';
    width: 5px;
    height: 60%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #23374b;
}
footer .subscribe_box{
    position: relative;
    width: 100%;
    padding: 50px;
    box-shadow: 0px 0px 20px 0px rgb(16 26 36 / 55%);
}
footer .subscribe_form{
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 40%;
}
footer .subscribe_form input{
    height: 60px;
    padding: 15px;
    width: 300px;
}
footer .subscribe_form button{
    background-color: #d74d52;
    height: 60px;
    padding: 23px 35px;
    color: white;
}


footer .insights_picwick{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}

/* NAVIGATION SECTION------------ */

footer .navigation_section h3{
    color: white;
}
footer .navigation_section .navigation_column{
    margin-bottom: 20px;
    padding: 15px;
}
.navigation_column li{
    margin-bottom: 15px;
    text-transform: capitalize;
    max-width: 70%;
}
.navigation_column li i{
    margin-right: 10px;
}
.navigation_column .menu_social li {
    margin-right: 2px;
    font-size: 1.2em;
}





/* BOTTOM-FOOTER------------ */

.bottom-footer{
   background-color: #15222e; 
   color:#a3b5ca;
   font-size: 13px;
   padding: 15px 0;
}