/* DEBUG AREA-------------------------------------------------- */

body.debug header,
body.debug main,
body.debug main>div,
body.debug footer
{
    border: 1px solid grey;
    background-color: pink;
}

body.debug .wrapped-container{
    background-color: yellow;
    border: 1px solid blue;
}
body.debug .wrapped-container:nth-of-type(2n+2){
    background-color: lightyellow;
    border: 1px solid blue;
}
body.debug .wrapped-container>div:nth-of-type(2n+2){
    background-color: lightcoral;
    border: 1px solid blue;
}

body.debug [class*="col"]{
    border: 1px solid green;
}

/* FINE AREA DEBUG
__________________________________________________________________________________________ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
}

/* GENERAL TYPOGRAPHY STYLE----- */
@font-face {
    font-family: 'Now';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/now/Now-Regular.otf') format('opentype');
    }
@font-face {
    font-family: 'Now';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/now/Now-Medium.otf') format('opentype');
    }
@font-face {
    font-family: 'Now';
    font-style: bold;
    font-weight: 500;
    src: url('../fonts/now/Now-Bold.otf') format('opentype');
    }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Now";
    margin-bottom: 10px;
    color: #192836;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: #262626;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}
    
.capitalize{
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
.text-underline{
    text-decoration: underline;
}
.text-red{
    color:red
}
.text-orange{
    color:orange
}
.text-green{
    color:green
}
a {
    text-decoration: none;
    color: inherit;
}


/* COMMON STRUCTURE--------------------------------------------- */
.wrapped-container{
    max-width: 1140px;
    margin:0 auto
}

.vh100{
    height: 100vh;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.col33{
    width: 33.33%;
}


/* COMMON STYLE-------------------------------------- */
body {
    font-family: 'Now';
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    background-color: white;
    
}

button {
    background: transparent;
    padding: 15px 25px;
    text-transform: capitalize;
    border: 1px solid grey;
    color: grey;
}

ul.menu_inline li{
    display: inline;
    margin-right: 20px;
}

.box-shadow{
    box-shadow: 0px 28px 65px 0px rgb(188 188 188 / 25%);
}

/* ____________________________________________________________ */

/* HEADER------------------ */
header {
    width: 100%;
    height: 70px;
    background: white;
}
header .top-header{
    height: 100%;
    justify-content: space-between;
    position: relative;
}
header .logo_header{
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
header .menu_inline{
    align-items: center;
}


/* _____________________________________________________ */

/* MAIN----------------------- */


/* JUMBO SECTION-------------- */
.jumbo_section {
    background-image: url('../media/img/jumbotron.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: relative;
}
.jumbo_section>div{
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.jumbo_section>div h2{
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-size: 52px;

}

/* ABOUT SECTION------------------ */

.card-info_row .col33{
    padding: 10px;
}

.card-info{
    flex-direction: column;
    flex-basis: 100%;
    height: 350px;
    padding: 30px;
    
    text-align: center;
    line-height: 1.9;
}
.card-info img{
    height:70px;
}
.card-info h3{
    text-transform: capitalize;
}
.counter_row {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.counter_info{
    width: 100%;
    position: relative;
    align-items: center;
}
.counter_info h2{
    margin-right: 10px;
    font-size: 40px;
}
.counter_info p{
    font-size: 20px;
    text-transform: capitalize;
}
.counter_info img{
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 15px;

}

/* ________________________________________________________________________ */

/* COURSE SECTION-------------------------- */
.courses_row .col33{
    padding: 20px;
}
.card_course{
    line-height: 1.9;
    flex-direction: column;
}
.card_course:hover .card_course-cover img{
    transform: scale(1.5);
}
.card_course-cover{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.card_course-cover img{
    position: absolute;
    max-width: 100%;
    height: auto;
    transition: transform 1s;
}
.card_course-details *{
    margin-bottom: 20px;
}
.card_course-details{
    padding: 10px 20px;
}

.card_course-details .caption{
    font-size: 0.8em;
    color: red;
}





/* _________________________________________________________________ */

/* QUOTE SECTION-------------------- */
.quote_section{
    background-image: url('../media/img/quote.png');
    background-position: center;
    background-repeat:no-repeat;
    font-family: 'Now-Regular';
}
.quote_section p{
    font-size: 30px;
    margin: 30px 20px;
}


/* _______________________________________________________________________ */
/* EVENT SECTION */
#events_section{
    position: relative;
    margin-top:5%;
    margin-bottom: 5%;
    /* provvisorio */
}
.events-video{
    position: relative;
    width: 650px;
    height: 530px;
    overflow: hidden;
    left: 50px
}
.events-details{
    position: relative;
    background: white;
    width: 650px;
    height: 530px;
    top:50px;
    right: 50px;
    padding: 0 50px 50px;
    flex-direction: column;
    justify-content: space-between;
}
.events-details  p{
    margin-bottom: 10px;
    /* PROVVISORIO */
}
.events-details i{
    font-size: 0.8em;
    color: inherit;
    margin-right: 10px;
}

.events-details .upcoming_events_label{
    justify-content: center;
}
.events-details .upcoming_events_label h2{
    background: red;
    padding:20px 40px;
    color:white;
}



.events-video img{
    width: 100%;
    height: auto;
}

.events-video span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 50%;
}
.events-video i{
    margin: 25px;
    font-size: 30px;
    color:red;
}
/* ______________________________________________________________________ */

/* BLOG SECTION */

.blog_row .col33{
    padding: 10px;
}
.card_blog{
    line-height: 1.9;
    flex-direction: column;
}
.card_blog:hover .card_blog-cover img{
    transform: scale(1.5);
}
.card_blog-cover{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.card_blog-cover img{
    position: absolute;
    max-width: 100%;
    height: auto;
    transition: transform 1s;   
}

.card_blog-details>*{
    margin-bottom: 20px;
}
.card_blog-details{
    padding: 10px 20px;
}
.card_blog-details li{
    margin-right: 20px;
    font-size: 0.8em;
    font-weight: lighter;
    text-transform: capitalize;
}
.card_blog-details i{
    margin-right: 8px;
}
.card_blog-details hr{
    width: 50px;
    background-color: red;
}

.card_blog-details .caption{
    font-size: 0.8em;
}

/* _____________________________________________________ */

/* PHOTO SECTION---------------- */
.photos_row>div{
    width: calc(100% / 4);
    height:270px;
    overflow: hidden;
    position: relative;
}
.photos_row img{
    position: absolute;
    min-width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




/* ___________________________________________________________ */

/* FOOTER---------------------------- */

footer {
    background: #192735;
}




footer .navigation_section h3{
    color: white;
}
footer .navigation_section li{
    color:#a3b5ca
}




.bottom-footer{
   background-color: #15222e; 
   color:#a3b5ca;
   font-size: 13px;
   padding: 15px 0;
}